<?xml version="1.0"?>
<!-- 4 Wheel Robot with front steering and rear drive -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot_hardware">

  <xacro:arg name="prefix" default="" />
  <xacro:arg name="sim_mode" default="false"/>

  <!-- Import Constants -->
  <xacro:include filename="$(find robot_hardware)/urdf/util/constants.xacro" />

  <!-- Import Robot Description -->
  <xacro:include filename="$(find robot_hardware)/urdf/robot.urdf.xacro" />

  <!-- Import Rviz colors -->
  <xacro:include filename="$(find robot_hardware)/urdf/util/materials.xacro" />

  <!-- Import Hardware Interface -->
  <xacro:include filename="$(find robot_hardware)/ros2_control/robot_hardware.ros2_control.xacro" />
  
  <!-- <xacro:include filename="$(find robot_hardware)/ros2_control/sim.xacro"/> -->

  <!-- Import Camera -->
  <!-- <xacro:include filename="$(find robot_hardware)/urdf/components/camera.xacro" /> -->

  <!-- Import Depth Camera -->
  <!-- <xacro:include filename="$(find robot_hardware)/urdf/components/depth_camera.xacro" /> -->

  <!-- Import LiDAR -->
  <!-- <xacro:include filename="$(find robot_hardware)/urdf/components/lidar.xacro" /> -->

  <xacro:robot_hardware prefix="$(arg prefix)" />
  <!-- <xacro:camera prefix="$(arg prefix)"/> -->
  <!-- <xacro:lidar prefix="$(arg prefix)"/> -->

  <xacro:robot_hardware_ros2_control name="RobotSystemHardware" prefix="$(arg prefix)" />

</robot>