<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Chassis Link -->
    <link name="${prefix}chassis_link">

        <!-- COLLISION -->
        <collision>
            <origin xyz="0 0 0" rpy="0 0 ${PI / 2}"/>

            <geometry>
                <mesh filename="file://$(find robot_hardware)/urdf/meshes/Chassis.stl"/>
            </geometry>

        </collision>

        <!-- VISUAL -->
        <visual>
            <origin xyz="0 0 0" rpy="0 0 ${PI / 2}"/>

            <geometry>
                <mesh filename="package://robot_hardware/urdf/meshes/Chassis.stl"/>
            </geometry>

            <cast_shadows>true</cast_shadows>
            <material name="grey"/>
        </visual>

        <!-- INERTIAL -->
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 ${PI / 2}"/>
            <mass value="${chassis_mass}"/>            
            <inertia
                ixx="0.000270" ixy="0.0" ixz="0.0"
                iyy="0.000270" iyz="0.0"
                izz="0.000426"/>
        </inertial>

    </link>

    <!-- Gazebo Reference -->
    <gazebo reference="chassis_link">
        <material>Gazebo/Grey</material>
    </gazebo>

    <!-- Chassis Joint -->
    <joint name="${prefix}chassis_joint" type="fixed">
        <parent link="${prefix}base_link"/>
        <child link="${prefix}chassis_link"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <axis xyz="0 0 1"/>
        <dynamics damping="${damping}"/>
    </joint>

</robot>